Thumbs.db
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.sdf
*.vsp
*.opensdf
*.o
[Bb]in
[Dd]ebug*/
test-results/
*.lib
*.sbr
obj/
intermediate*/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
!SharpSoundDevice-Stable-1.1.2-2013-05-08/*
!SharpSoundDevice-Dev-1.3.0-2015-01-06/*
Build/*
packages/*
.vs*/